<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-xl-8">
            <nb-card>
                <nb-card-header>Registrar Usuario</nb-card-header>
                <nb-card-body>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Nombres">
                            </div>
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Apellidos">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Email">
                            </div>
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Tipo de usuario">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Contraseña">
                            </div>
                            <div class="col-6">
                                <button nbButton status="success" size="small">Crear</button>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>


