<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-xl-8">
            <nb-card>
                <nb-card-header>Registrar Contenedores</nb-card-header>
                <nb-card-body>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Numero de contenedor">
                            </div>
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Tipo de contedo">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Fecha de arribo">
                            </div>
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="BL">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Linea Naviera">
                            </div>
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="NIT Cliente">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Razón social Cliente">
                            </div>
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Email Cliente">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Email Forwarder">
                            </div>
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Valor de las demoras por día (Tarifa)">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Días Libres">
                            </div>
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Dropp off (si o no)">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="BL">
                            </div>
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Ciudad de entrega">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Fecha de ingreso a patios (Se actualiza diariamente)">
                            </div>
                            <div class="col-6">
                                <button nbButton status="success" size="small">Crear</button>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>